2_docker_sql/dtc-de-course-347010-d49d5a693dee.json
2_docker_sql/terraform.txt
2_docker_sql/google-cloud-sdk/
2_docker_sql/ny_taxi_postgres_data/
2_docker_sql/terraform/.terraform/
2_docker_sql/terraform/terraform.tfstate
2_docker_sql/terraform/terraform.tfstate.backup
logs/
plugins/
.DS_Store
*.csv
*.parquet
*.ipynb_checkpoints
__pycache__/